<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<connectionStrings>
		<add name="OOP2[E]" providerName="System.Data.SqlClient" connectionString="server=.\sqlexpress;database=OOP2[E];integrated security=true;"/>
	</connectionStrings>
</configuration>